.profile-container {
    max-width: 600px; /* Ancho máximo para el perfil */
    margin: 20px auto; /* Centrado en la página */
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container h1 {
    font-family: var(--heading-font-family);
    color: var(--primary-color);
    text-align: center; /* Centrar el título */
}

.profile-container p {
    font-family: var(--body-font-family);
    color: var(--text-color);
    margin: 10px 0; /* Espaciado entre líneas */
}
